h1 {
    color: red;
    background-color: bisque;
}

h2 {
    color: blue;
    background-color: aquamarine;
}

p {
    color: blueviolet;
    background-color: bisque;
}

ul {
    color: aqua;
    background-color: black;
}

ol {
    color: brown;
    background-color: cornflowerblue;
}

img {
    display:inline-block;
    height: 100%;
}